.card-info { 
    display: flex;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
    padding: 30px;
    border-radius: 15px;

    &__icon { 
        margin-right: 10px;
        width: 45px;
        flex-basis: 45px;
    }
    &__title { 
        line-height: 1.5;
    }
}