.objects {
    padding-top: 45px;
    padding-bottom: 75px;

    &__row {
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        align-items: center;
        @media (max-width: 1495px) {
            justify-content: flex-end;
        }
    }

    &__img {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }

    &__text {
        width: 693px;
        padding-left: 181px;
        padding-right: 150px;
        flex-shrink: 0;
        p + p {
            margin-top: 20px;
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__button {
        margin-top: 40px;
    }
}